<ion-view title="Add Device" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="addDevice-form7" class="list">
      <label class="item item-input" id="addDevice-input16" name="deviceNickName">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nick Name">
      </label>
      <label class="item item-select" id="addDevice-select1" name="deviceType">
        <span class="input-label">Device Type</span>
        <select></select>
      </label>
      <label class="item item-select" id="addDevice-select2" name="deviceBrand">
        <span class="input-label">Brand</span>
        <select></select>
      </label>
      <label class="item item-select" id="addDevice-select3" name="deviceBrand">
        <span class="input-label">Load</span>
        <select></select>
      </label>
    </form>
    <a ui-sref="tabsController.devices()" id="addDevice-button10" class="button button-positive button-block">Add</a>
  </ion-content>
</ion-view>