<ion-view title="Devices" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add" ui-sref="tabsController.addDevice()"></button>
    <button class="button icon ion-android-sync" ></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="devices-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="devices-list-item9">
        <h2>Main Hall AC</h2>
        <p style="white-space:normal;">ID# 12345678</p>
        <p style="white-space:normal;">Usage: 15 Units (This Week) </p>
        <p style="white-space:normal;">Last Synced: 2 days ago</p>
        <i class="icon ion-alert"></i>
        <ion-option-button class="button-calm"><i class="icon ion-edit"></i></ion-option-button>
        <ion-option-button class="button-positive"><i class="icon ion-trash-a"></i></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="devices-list-item8">
        <h2>Room 1 AC</h2>
        <p style="white-space:normal;">ID #, Usage, Last Sync</p>
        <i class="icon ion-alert"></i>
        <ion-option-button class="button-positive">Edit</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="devices-list-item10">
        <h2>Room 2 AC</h2>
        <p style="white-space:normal;">ID #, Usage, Last Sync</p>
        <ion-option-button class="button-positive">Edit</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="devices-list-item11">
        <h2>Refrigrator</h2>
        <p style="white-space:normal;">ID #, Usage, Last Sync</p>
        <ion-option-button class="button-positive">Edit</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="devices-list-item12">
        <h2>Microwave Oven</h2>
        <p style="white-space:normal;">ID #, Usage, Last Sync</p>
        <ion-option-button class="button-positive">Edit</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>