<ion-view title="Feedback" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="feedback-form1" class="list">
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input item-stacked-label" id="feedback-input1" name="feedbackTitle">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Full Name">
      </label>
      <label class="item item-input item-stacked-label" id="feedback-input2" name="feedbackMessage">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email Address">
      </label>
      <label class="item item-input item-stacked-label" id="editProfile-input2" name="userDOB">
        <span class="input-label">Upload Pictures</span>
        <input type="date" placeholder="Feeback Pictures">
      </label>
    </form>
    
    <button id="editProfile-button3" class="button button-positive button-block" ui-sref="tabsController.home()">Send</button>
  </ion-content>
</ion-view>