<ion-view title="Forgot Password" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <img src="img/QHZ4tQ9RZWWk0txaif4e_BetaLogicsLogoLargeJPEG.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <h3 id="forgotPassword-heading4" style="color:#000000;font-weight:400;text-align:center;">Forgot Password</h3>
    <form id="forgotPassword-form6" class="list">
      <label class="item item-input" id="forgotPassword-input14" name="userEmail">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email Address">
      </label>
    </form>
    <a ui-sref="tabsController.home()" id="forgotPassword-button6" class="button button-positive button-block">Recover my Password</a>
    <a ui-sref="login()" id="forgotPassword-button8" style="font-weight:300;" class="button button-positive button-small button-block button-clear">Have account? Login now</a>
    <a ui-sref="register()" id="forgotPassword-button9" style="font-weight:300;" class="button button-positive button-small button-block button-clear">Register now</a>
  </ion-content>
</ion-view>