<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="home-list5">
      <ion-item class="item-icon-left" id="home-list-item19">
        <i class="icon ion-bluetooth"></i>Bluetooth
        <span class="item-note">Off</span>
      </ion-item>
      <ion-item class="item-icon-left" id="home-list-item18">
        <i class="icon ion-alert"></i>Total Unit Consumed
        <span class="item-note">100 Units</span>
      </ion-item>
      <ion-item class="item-icon-left" id="home-list-item20">
        <i class="icon ion-alert"></i>Critical Device Usage:
        <span class="item-note">50 Units</span>
      </ion-item>
      <ion-item class="item-icon-left" id="home-list-item16">
        <i class="icon ion-ios-settings-strong"></i>Total Devices: 5
        <span class="item-note">5 Devices</span>
      </ion-item>
      <ion-item class="item-icon-left" id="home-list-item17">
        <i class="icon ion-clock"></i>Last Synced
        <span class="item-note">2 days ago</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>