<ion-view title="Profile" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-edit" ui-sref="tabsController.editProfile()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="profile-image">
      <img src="img/t30w7ngNRLKN0ANv2fRJ_Eye.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <ion-list id="profile-list6">
      <ion-item class="item-icon-left" id="profile-list-item13">
        <i class="icon ion-ios-person"></i>Avais Khatri</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item14" href="tel:">
        <i class="icon ion-ios-email"></i>avaiskhatri@hotmail.com</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item15">
        <i class="icon ion-ios-calendar"></i>11 December 1992</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item25">
        <i class="icon ion-ios-calendar-outline"></i>16 July 2017</ion-item>
    </ion-list>
    <button id="profile-button2" class="button button-positive button-block" ui-sref="login()">Log Out</button>
  </ion-content>
</ion-view>