<ion-view title="Settings" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <ion-list id="settings-list3">
      <ion-item class="item-avatar item-icon-right" id="settings-list-item5" ui-sref="tabsController.profile()">
        <img src="img/mJMNZRGTG6EKCDIgN6AT_Eye.jpg">
        <h2>Avais Khatri</h2>
        <i class="icon ion-arrow-right-c"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="settings-list-item23" ui-sref="tabsController.changePassword()">
        <i class="icon ion-key"></i>Change Password
        <i class="icon ion-arrow-right-c"></i>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="home-toggle2"><i class="icon ion-bluetooth"></i> Bluetooth </ion-toggle>
      <ion-item class="item-icon-left item-icon-right" id="settings-list-item22" >
        <i class="icon ion-clock"></i>Last Sync
        <span class="item-note">2 days ago</span>
        <i class="icon ion-android-refresh"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="settings-list-item25">
        <i class="icon ion-ios-calendar-outline"></i>Week Start On
        <span class="item-note">Monday</span>
        
      </ion-item>
      <ion-item class="item-icon-left" id="settings-list-item24" ui-sref="tabsController.aboutUs()">
        <i class="icon ion-information"></i>About Us</ion-item>
    </ion-list>
  </ion-content>
</ion-view>